<html>
    <head>
        <title>Shweta's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 1.07.2017, 2:26</p>
            <h2><a href="">My first post</a></h2>
            <p>Monte Aloia is a summit in the mountains of Galicia, Spain, which was declared a natural park on 4 December 1978. The park covers an area of 746 hectares and is located within the municipality of Tui, a town on the River Miño.[1]
It is a Site of Community Importance. The vegetation consists of pine plantations and shrubland. It has remnants of the Castro culture, and elements of ethnographic interest.</p>
        </div>

        <div>
            <p>published: 1.07.2017, 2 36</p>
            <h2><a href="">My second post</a></h2>
            <p>Mount Aloia presents a rough topography with an altitude ranging between 80 and 629 metres from the Alto de San Xiao, from which spreads an extensive stretch of the River Louro and the Miño until its mouth. The soils are acidic, of low to average depth, presenting granitic substrate that often emerges, resulting in rocks and stones, a characteristic element of the landscape of the region of the lower Minho (Baixo Miño).</p>
        </div>
    </body>
</html>